*{
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Microsoft JhengHei';
    text-decoration: none;
}

body{
    margin: 0px 0px;
    background: rgba(255, 255, 255, 1);
}

.bolder_smooth{
    border-style: none;
    border-radius: 0.5rem;
}

.head{
    position: fixed;
    width: 100%;
}

.div-signline{
    display: flex;
    height: 32px;
    padding: 0px 12.5%;
    margin-right: -10px;
    justify-content: flex-end;
    background-color: #173d17;
}

.p-sign{
    color: #5ca15c;
    padding-right: 10px;
    vertical-align:middle;
    line-height: 32px;
}

.p-sign:hover{
    color: #4e914e;
}

.p-sign:active{
    color: #3e803e;
}

.div-nav{
    display: flex;
    height: 64px;
    padding: 0% 12.5%;
    justify-content: space-between;
    align-items: center;
    background-color: #426642;
}

@media screen and (max-width: 1024px){
    .div-nav{
        height: 104px;
    }
}

.img-nav-logo{
    width: 130px;
    height: 48px;
    padding-right: 50px;
}

@media screen and (max-width: 1024px){
    .img-nav-logo{
        height: 48px;
        margin-top: -40px;
        padding-right: 0px;
    }
}

.div-nav-right{
    width: 576px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px){
    .div-nav-right{
        display: block;
    }
}

.div-unsearch{
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .div-unsearch{
        width: 100%;
        margin-top: -40px;
        justify-content: space-around;
        background: #6db06d;
    }
}

.p-nav{
    font-weight: bolder;
    color: #5ca15c;
}

.p-nav:hover{
    color: #ebebeb;
}


@media screen and (max-width: 1024px){
    .p-nav{
        color: #173d17;
    }
}

.p-more{
    width: fit-content;
    height: 40px;
    padding: 0px 10px;
    background-color: #3ebaf0;
}

.p-more:hover{
    background-color: #2fabe0;
}

.p-more:active{
    background-color: #219dcf;
}

.a-more{
    line-height: 40px;
    font-weight: bolder;
    color: #ffffff;
}

@media screen and (max-width: 1024px){
    .div-search{
        text-align: right;
    }
}

.input-search{
    width: 160px;
    padding-left: 20px;
    line-height: 40px;
}

@media screen and (max-width: 480px){
    .input-search{
        width: 50%;
    }
}

.img-search{
    width: 30px;
    height: 30px;
}

.img-search:hover{
    background-color: #4e914e;
    opacity: 0.7;
}

.img-search:active{
    opacity: 0.4;
}

.div-nav-hidden{
    padding: 0 12.5%;
}

.main{
    padding: 0 12.5%;
    padding-top: 120px;
    padding-bottom: 24px;
    background-color: #ebebeb;
}

@media screen and (max-width: 1024px){
    .main{
        padding-top: 160px;
    }
}

.div-block{
    padding: 12px 0;
}

.p-title{
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #5e5e5e;
}

.p-content{
    color: #6e6e6e;
}

.p-horizontal{
    display: flex;
}

.ul-order{
    padding-left: 20px;
}

.img-fb{
    display: block;
    padding: 3px 0 0 5px;
    height: 21px;
}

.horizontal{
    display: flex;
    width: 75%;
    padding-bottom: 24px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .horizontal{
        width: 100%;
    }
}

.li-row{
    width: 100%;
}

.p-row{
    width: 80%;
}

.p-big_font{
    font-size: 28px;
    color: #383838;
}

.p-small_font{
    font-size: 12px;
    color: #b3b3b3;
}

.div-information{
    display: flex;
    height: 97px;
    justify-content: space-around;
    padding: 0 12.5%;
}

.div-single_information{
    width: 110px;
    padding-top: 11px;
}

.p-information_title{
    font-size: 20px;
    font-weight: bolder;
    color: #3ebaf0;
}

.p-information_title:hover{
    color: #2fabe0;
}

.p-information_title:active{
    color: #219dcf;
}

.p-information_content{
    margin-top: 10px;
    font-size: 14px;
}

.div-copyright{
    height: 56px;
    padding: 0 12.5%;
    background-color: #cccccc;
    text-align: center;
}

.p-copyright{
    line-height: 56px;
}

@media screen and (max-width: 1024px){
    .visible{
        display: none;
    }
}

.hidden{
    display: none;
}

@media screen and (max-width: 1024px){
    .hidden{
        display: block;
    }
}