*{
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Microsoft JhengHei';
    text-decoration: none;
}

body{
    margin: 0px 0px;
    background: rgba(255, 255, 255, 1);
}

.bolder_smooth{
    border-style: none;
    border-radius: 0.5rem;
}

.clear_float{
    clear: both;
}

.li-type_none{
    list-style-type: none;
}

.head{
    position: fixed;
    z-index: 200;
    width: 100%;
}

.div-signline{
    display: flex;
    height: 32px;
    padding: 0px 12.5%;
    margin-right: -10px;
    justify-content: flex-end;
    background-color: #173d17;
}

.p-sign{
    color: #5ca15c;
    padding-right: 10px;
    vertical-align:middle;
    line-height: 32px;
}

.p-sign:hover{
    color: #4e914e;
}

.p-sign:active{
    color: #3e803e;
}

.div-nav{
    display: flex;
    height: 64px;
    padding: 0% 12.5%;
    justify-content: space-between;
    align-items: center;
    background-color: #426642;
}

.img-nav-logo{
    width: 130px;
    height: 48px;
    padding-right: 50px;
}

.div-nav-right{
    width: 576px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-nav{
    font-weight: bolder;
    color: #5ca15c;
} 

.p-nav:hover{
    color: #ebebeb;
}

.p-more{
    width: fit-content;
    height: 40px;
    padding: 0px 10px;
    background-color: #3ebaf0;
}

.p-more:hover{
    background-color: #2fabe0;
}

.p-more:active{
    background-color: #219dcf;
}

.a-more{
    line-height: 40px;
    font-weight: bolder;
    color: #ffffff;
}

.input-search{
    width: 160px;
    padding-left: 20px;
    line-height: 40px;
}

.img-search{
    width: 30px;
    height: 30px;
}

.img-search:hover{
    background-color: #4e914e;
    opacity: 0.7;
}

.img-search:active{
    opacity: 0.4;
}

.main{
    display: flex;
    padding: 120px 12.5% 14px 12.5%;
    justify-content: space-between;
    background-color: #ebebeb;
}

.div-category{
    width: 83%;
}

.p-state{
    margin-bottom: 14px;
    line-height: 40px;
}

.row{
    display: flex;
    margin: 0 -12px;
    flex-wrap: wrap;
}

.col{
    padding: 0px 12px;
    width: calc(100%/3 - 32px);
    height: calc(100%/3 - 30px);
}

.li-gallery_item{
    margin-right: 24px;
    margin-bottom: 24px;
    background-color: #ffffff;
}

.wrapper{
    position: relative;
    display: block;
}

.img-picture{
    display: block;
    max-width: calc(100%);
    margin: 10px auto;
}

.ads{
    width: 17%;
    margin: 64px 0 10px 0;
    background-color: #ffffff;
}

.img-ad{
    max-width: 90%;
    margin: 2.5% 5%;
}

.div-information{
    display: flex;
    height: 97px;
    justify-content: space-around;
    padding: 0 12.5%;
}

.div-single_information{
    width: 110px;
    padding-top: 11px;
}

.p-information_title{
    font-size: 20px;
    font-weight: bolder;
    color: #3ebaf0;
}

.p-information_title:hover{
    color: #2fabe0;
}

.p-information_title:active{
    color: #219dcf;
}

.p-information_content{
    margin-top: 10px;
    font-size: 14px;
}

.div-copyright{
    height: 56px;
    padding: 0 12.5%;
    background-color: #cccccc;
    text-align: center;
}

.p-copyright{
    line-height: 56px;
}

.overlay{
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    widows: 100%;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: none;
    font-weight: 100;
}

.overlay p{
    font-weight: 100;
    margin: 0px;
    padding: 0px;
}